@charset "UTF-8";

#form {
	width: 250px;
	margin: 0 auto;
	height: 50px;
}

#form p {
	text-align: center;
}

#form label {
	font-size: 20px;
}

input[type="radio"] {
	display: none;
}

label {
	color: grey;
}

.clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
}

label:hover, label:hover ~ label {
	color: orange;
}

input[type="radio"]:checked ~ label {
	color: orange;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 55px;
	height: 55px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
	text-decoration: none;
	color: white;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-instagram {
	background: linear-gradient(to bottom left, #ff33cc 18%, #ff6600 98%);
	color: white;
}

.fa-tumblr {
	background: #2c4762;
	color: white;
}


<!---------------------MAIN------------------------------->
.h:hover {
	opacity: 0.4;
	background: black;
	border-radius: 3px;
}

.nav-link:hover {
	opacity: 0.4;
}

.navbar {
	border-bottom: 2px solid  #81ff9f;
}

.dropdown-menu>.dropdown-item:hover {
	background: #29C45A;
}

#us {
	opacity: 0.9;
	border-radius: 5px;
	text-align: center;
}

#us1 {
	opacity: 0.9;
	color: white;
	margin-right: -230px;
	border-radius: 5px;
	text-align: center;
}

.ad {
	margin-top: 132px;
	text-decoration: none;
	list-style: none;
}

.n {
	background-color: #34bbe6;
}

.ad li {
	margin-right: 25px;
	display: inline;
}

.ad li a {
	color: white;
	text-decoration: none;
	padding: 20px;
}

/* .cuerpo{ */
/* background-color:#81ff9f; */
/* } */

td {
	padding: 20px;
}

table {
	text-align: center;
}

table tr td a {
	text-decoration: none;
	color: black;
}

h3 {
	border-radius: 2px;
	padding: 10px;
border-bottom: 3px solid #29C45A;
width: 100%;
}



<!--------------------------------REGISTRO---------------------------------------------------------------->

.modal-body pre{
	font-family: Arial;
}

.modal-body pre .titu{
	font-family: Arial;
	font-weight: bold;
}

.card .card-body a{
	text-decoration: none;
	color: black;
	margin-left: 500px;
}
